

**/.DS_Store
**/*.pyc
*.err
*.o
*.d
*.inc
*.cof
*.hex
*.map
EBB_firmware/BBFirmware.X/nbproject/private/
EBB_firmware/BBFirmware.X/nbproject/Makefile-*
EBB_firmware/BBFirmware.X/nbproject/Package-*
EBB_firmware/BBBootloader.X/nbproject/Makefile-*
EBB_firmware/BBBootloader.X/nbproject/private/
EBB_firmware/BBBootloader.X/nbproject/Package-*
